PORT=8787
DATABASE_PATH=./data/giteehelper.db
GITEE_API_BASE=https://gitee.com/api/v5
GITEE_TOKEN=
GITEE_WEBHOOK_SECRET=
GITEE_REPO=
GITEE_DEFAULT_BRANCH=main
FEISHU_WEBHOOK_URL=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
SESSION_SECRET=
